//Подключаем шрифты
//
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
//font-family: 'Montserrat', sans-serif;
//
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
//font-family: 'Open Sans', sans-serif;
//
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700;900&display=swap');
//font-family: 'Roboto', sans-serif;
//
@font-face {
	font-family: 'Myriadpro Semibold';
	src: url('fonts/myriad-pro-semibold.eot');
	src: local('☺'), url('fonts/myriad-pro-semibold.woff') format('woff'), url('fonts/myriad-pro-semibold.ttf') format('truetype'), url('fonts/myriad-pro-semibold.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}
