//COLORS
$black-shade-1: #090000;
$black-shade-2: #151515;
$black-shade-3: #222222;
$black-shade-4: #404040;
$black-shade-5: #555555;
$dark-gray: #333333;
$gray: #bbbbbb;
$light-gray: #e0e0e0;
$light-gray-2: #777777;
$light-gray-3: #b0b0b0;
$light-gray-4: #ecebed;
$yellow-main: #fbf934;
$purple-shade-1: #7048e2;
$purple-shade-2: #8c84f9;
$purple-shade-3: #8d83f9;
$purple-shade-4: #b394fa;
$white-shade-1: #fcfcfc;
$white-shade-2: #fefefe;

